<div class="container">
 <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

</br>
<h4>本当に退会しますか？</h4>
<h5>退会すると、会員登録情報や</h5>
<h5>これまでの購入履歴が閲覧できなくなります。</h5>
<h5>退会する場合は、「退会する」をクリックして下さい。</h5>

 <%= link_to "退会しない",url: customers_path %>
 <%= link_to "退会する",url: customers_withdrawal_path, method: :patch %>

 </div>
</div>