<div class="container">
 <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <br>
    <h1>ようこそ、
    <strong>ながのCAKE</strong>へ！</h1>
    <p>このサイトは、 ケーキ販売のECサイトになります。
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>

  <div class="col-11 col-sm-10 col-lg-8 col-xl-6">
   <h2>新着商品</h2>
    <table>
     <thead>
      <tr>
       <th></th>
       <th>商品名</th>
       <th>商品名</th>
       <th>商品名</th>
       <th>商品名</th>
       <th colspan="4"></th>
      </tr>
     </thead>
    </table>