<h4>注文情報入力</h4>
<p>Find me in app/views/public/orders/new.html.erb</p>

<h4>支払い方法</h4>


<%= form_with model: @item, url: admin_items_path do |f| %>
 <%= f.radio_button :payment_options, true %>
  クレジットカード
 <%= f.radio_button :is_active, false %>
  販売停止中

<% end %>