<div class="col-md-10">
  <h2>商品一覧</h2>

   <div class="row">
    <% @items.each do |item| %>
     <div class="col-md-3">
      <th>
       <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(100,100) %>
       <% end %>
      </th>

      <p><%= item.name %></p>

      <p>¥<%= item.price %></p>
     </div>
     <% end %>
   </div>
 </div>
</div>