<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<div class="row">
 <p><%= image_tag @item.get_image(100,100) %></p>

 <div class="col-md-6">
  <p><%= @item.name %></p>

  <p><%= @item.introduction %></p>

  <p>¥<%= @item.price %></p>
 </div>
</div>